@use "responsive" as *;
@use "variables" as *;
@use "logo" as *;

.careerPath {
    display: grid;
    grid-auto-rows: 1fr;

    .experience {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .bubble {
            @include logoContainer;
            display: flex;
            align-items: center;
            justify-content: center;
            div {
                width: 10px;
                height: 10px;
                background-color: $primary-color;
                border-radius: 1000px;
            }
        }
        &:not(:last-child) .bubble::after {
            content: "";
            position: absolute;
            top: 50%;
            height: 100%;
            background: $secondary-color;
            width: 2px;
            z-index: -1;
        }
        .information {
            @include informationContainer;
        }
    }
}
